<!DOCTYPE html>
<html lang="eng">
{% load static %}
<head>
    <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href= "{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">   
</head>
<body>
    {% if error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> You Didn't Answer All The Questions.
    </div>
    {% endif %}
<div class="jumbotron text-center">
     <div class="container">
<img src = {% static 'img/food-top.jpg' %}>
<h1>What Kind Of Chinese Food Would You Like Quiz</h1>
<h2>Find Out What Kind Of Chinese Food You Should Order</h2>
    </div>
</div>
<br>
<div class ="text-center">
<form action = "{% url 'quizCalc' %}" method = "POST">
{% csrf_token %}
<ol>
{% for question in questions %}
<h2>{{ question.question_text }}</h2>
{% for answer in question.choice_set.all %}
<input type="radio" name="{{ question.question_text }}" id = "answer{{ forloop.counter }}" value="{{ answer.region }}"/>
<label for="answer{{ forloop.counter }}">{{ answer.choice_text }}</label>
{% endfor %}
{% endfor %}
</ol>
<button type="button submit" class="btn btn-primary btn-lg">Done</button>
</form>
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</div>
</body>
</html>