<!DOCTYPE html>
<html lang="eng">
{% load static %}
<head>
    <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href= "{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">   
</head>
<body class = 'text-center'>
    <h1>You like things that have flavor and variety.</h1>
    <h1>You won't go wrong with <b>Fried Rice</b>!</h1>
    <br><br>
    <img src={% static 'img/chinese-restaurant.jpg' %}/>
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>